<a href="https://colab.research.google.com/github/NataliaPietrzak123/BootcampDataScience/blob/main/laczenie_danych.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd

In [ ]:
df = pd.read_csv('/london_bike.csv')
df.head()

In [ ]:
df.info()

In [ ]:
df = df.set_index('timestamp')
df.head()

In [25]:
def fetch_financial_data(company='AMZN'):
    """
    This function fetch stock market quotations.
    """
    import pandas_datareader.data as web
    return web.DataReader(name=company, data_source='stooq')

apple = fetch_financial_data('AAPL')
amazon = fetch_financial_data('AMZN')
google = fetch_financial_data('GOOGL')
uber = fetch_financial_data('UBER')

In [ ]:
apple.info()

In [ ]:
uber.info()

In [26]:
apple.head()

             Open   High    Low  Close      Volume
Date
2023-03-01 146.83 147.23 145.01 145.31 55478991.00
2023-02-28 147.05 149.08 146.83 147.41 50546998.00
2023-02-27 147.71 149.17 147.45 147.92 44998470.00
2023-02-24 147.11 147.19 145.72 146.71 55469606.00
2023-02-23 150.09 150.34 147.24 149.40 48394249.00

Procesowanie

In [27]:
apple.columns = ['apple_'+col.lower() for col in apple.columns]
amazon.columns = ['amazon_'+col.lower() for col in amazon.columns]
uber.columns = ['uber_'+col.lower() for col in uber.columns]
google.columns = ['google_'+col.lower() for col in google.columns]

Połączenie danych (konkatenacja)

In [28]:
df = pd.concat(objs=[apple,amazon,google,uber], axis = 1)
#df = pd.concat(objs=[apple, amazon, google, uber], axis=1)
df

,apple_open,apple_high,apple_low,apple_close,apple_volume,amazon_open,amazon_high,amazon_low,amazon_close,amazon_volume,google_open,google_high,google_low,google_close,google_volume,uber_open,uber_high,uber_low,uber_close,uber_volume
Date,,,,,,,,,,,,,,,,,,,,
2018-03-05,41.82,42.43,41.66,42.20,118986423.40,74.71,76.27,74.05,76.18,104678680,53.91,55.06,53.61,54.74,28647380,NaN,NaN,NaN,NaN,NaN
2018-03-06,42.47,42.55,42.04,42.16,99661031.07,76.66,77.11,76.40,76.88,91234360,55.10,55.28,54.73,55.05,23381360,NaN,NaN,NaN,NaN,NaN
2018-03-07,41.76,41.98,41.60,41.78,132820429.76,76.33,77.30,76.13,77.25,83482460,54.64,55.81,54.50,55.75,30748580,NaN,NaN,NaN,NaN,NaN
2018-03-08,41.89,42.28,41.79,42.23,99600700.61,77.50,77.74,77.26,77.59,77252300,55.86,56.57,55.86,56.47,33862660,NaN,NaN,NaN,NaN,NaN
2018-03-09,42.48,42.96,42.34,42.96,134838493.57,78.17,78.95,77.95,78.94,90685000,56.98,58.05,56.71,58.04,42661740,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-02-23,150.09,150.34,147.24,149.40,48394249.00,96.12,96.43,93.67,95.82,48466994,91.92,91.94,89.76,90.89,41206380,34.79,34.80,33.70,34.47,23661721.00
2023-02-24,147.11,147.19,145.72,146.71,55469606.00,93.53,94.14,92.32,93.50,57053812,89.44,89.89,88.58,89.13,36585093,33.70,33.92,33.02,33.40,19100996.00
2023-02-27,147.71,149.17,147.45,147.92,44998470.00,94.28,94.78,93.14,93.76,47470321,89.87,90.16,89.33,89.87,27502302,33.67,33.85,33.06,33.55,19079075.00
2023-02-28,147.05,149.08,146.83,147.41,50546998.00,93.14,94.69,92.92,94.23,43959290,89.33,91.23,89.32,90.06,30142039,33.75,34.00,33.16,33.26,17144021.00
2023-03-01,146.83,147.23,145.01,145.31,55478991.00,93.87,94.68,91.59,92.17,52299524,89.98,91.03,89.67,90.36,31111225,33.43,33.58,32.89,32.99,14404671.00

In [29]:
pd.set_option('display.float_format', lambda x: f'{x:.2f}')
df.describe().T

,count,mean,std,min,25%,50%,75%,max
apple_open,1257.00,100.08,46.20,34.74,50.89,112.25,143.17,181.58
apple_high,1257.00,101.31,46.80,35.16,51.41,113.74,145.66,181.88
apple_low,1257.00,98.92,45.60,34.26,50.44,109.59,141.92,178.09
apple_close,1257.00,100.17,46.23,34.31,51.02,111.49,144.14,180.96
apple_volume,1257.00,116321639.27,55676250.99,35195860.00,79091964.67,100805624.71,136505354.39,434708544.96
amazon_open,1257.00,120.84,34.69,67.30,90.01,108.11,158.34,187.20
amazon_high,1257.00,122.31,35.05,69.80,90.78,110.99,159.94,188.65
amazon_low,1257.00,119.22,34.28,65.35,89.00,106.37,156.25,184.84
amazon_close,1257.00,120.77,34.62,67.20,89.87,108.44,158.10,186.57
amazon_volume,1257.00,85160244.42,39530242.40,17626740.00,58504700.00,73785440.00,100560680.00,311345660.00
google_open,1257.00,86.97,30.33,49.22,59.68,75.85,112.64,151.25
google_high,1257.00,87.95,30.63,50.61,60.10,76.88,114.01,151.55
google_low,1257.00,86.00,29.98,48.88,59.10,75.28,111.46,148.90
google_close,1257.00,86.99,30.30,49.23,59.63,75.93,112.72,149.84
google_volume,1257.00,35261977.46,15923214.92,9312760.00,25153400.00,31432820.00,40252060.00,133177100.00
uber_open,959.00,37.21,9.75,15.96,29.81,34.74,44.10,63.25
uber_high,959.00,37.98,9.82,17.80,30.44,35.27,44.80,64.05
uber_low,959.00,36.38,9.59,13.71,29.21,33.92,43.33,60.80
uber_close,959.00,37.18,9.68,14.82,29.88,34.68,43.93,63.18
uber_volume,959.00,25580898.75,16588028.48,3380003.00,15742007.50,21893806.00,30738767.00,186322536.00

In [ ]:
df.corr()

In [33]:
closes = [col for col in df.columns if col.endswith('close')]
df[closes]

            apple_close  amazon_close  google_close  uber_close
Date
2018-03-05        42.20         76.18         54.74         NaN
2018-03-06        42.16         76.88         55.05         NaN
2018-03-07        41.78         77.25         55.75         NaN
2018-03-08        42.23         77.59         56.47         NaN
2018-03-09        42.96         78.94         58.04         NaN
...                 ...           ...           ...         ...
2023-02-23       149.40         95.82         90.89       34.47
2023-02-24       146.71         93.50         89.13       33.40
2023-02-27       147.92         93.76         89.87       33.55
2023-02-28       147.41         94.23         90.06       33.26
2023-03-01       145.31         92.17         90.36       32.99

[1257 rows x 4 columns]

In [34]:
df[closes].corr()

              apple_close  amazon_close  google_close  uber_close
apple_close          1.00          0.75          0.92        0.08
amazon_close         0.75          1.00          0.79        0.59
google_close         0.92          0.79          1.00        0.24
uber_close           0.08          0.59          0.24        1.00

In [36]:
closes = [col for col in df.columns if col.endswith('close') or col.endswith('volume')]
df[closes]
df[closes].corr()

,apple_close,apple_volume,amazon_close,amazon_volume,google_close,google_volume,uber_close,uber_volume
apple_close,1.00,-0.36,0.75,-0.29,0.92,-0.12,0.08,0.11
apple_volume,-0.36,1.00,-0.20,0.57,-0.40,0.46,-0.18,0.23
amazon_close,0.75,-0.20,1.00,-0.24,0.79,-0.15,0.59,-0.04
amazon_volume,-0.29,0.57,-0.24,1.00,-0.32,0.55,-0.18,0.24
google_close,0.92,-0.40,0.79,-0.32,1.00,-0.16,0.24,0.10
google_volume,-0.12,0.46,-0.15,0.55,-0.16,1.00,-0.16,0.28
uber_close,0.08,-0.18,0.59,-0.18,0.24,-0.16,1.00,-0.21
uber_volume,0.11,0.23,-0.04,0.24,0.10,0.28,-0.21,1.00

METODA APPEND - inna do łaczenia danych

In [ ]:
uber.head()

In [38]:
uber_6 = uber[uber.index.month == 6]
uber_7 = uber[uber.index.month == 7]

In [41]:
uber_6_7 = uber_6.append(uber_7)
uber_6_7.head()

            uber_open  uber_high  uber_low  uber_close  uber_volume
Date
2022-06-30      21.11      21.13     19.89       20.46     30882454
2022-06-29      22.11      22.15     21.08       21.47     30704792
2022-06-28      22.97      23.46     22.04       22.08     24360150
2022-06-27      23.45      23.64     22.34       22.86     27153354
2022-06-24      22.48      23.19     22.30       23.03     38140098